.list a{
    text-decoration: none;
}

.list a.active button{
    /* background-color: #A4A9FC !important;
    color: white; */
    background-color: #30325E !important;
    color: white !important;
}